@import 'components/ui/ui-constants';

.ui_app-layout {
  &__footer {
    text-align: center;
  }
  &__content {
    padding: $spacing-md;
  }
  &__logo {
    width: 90%;
  }
  &__logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}